<header>
  <div class="header">
    <h1>FRIENTRIP</h1>
  </div>
</header>

<!-- 左側 -->
<div class="contents clearfix">
  <div class="left-content">


    <div class="plans">
      <!-- 企画書 -->
      <h2 class="trip-plan">企画書</h2>

      <!-- タイトル -->
      <div class="trip-title">
        <h3 class="trip-title">ウユニ塩湖にいこう</h3>
      </div>

      <!-- 画像 -->
      <div class="trip-image">
       <%= image_tag("newtop.jpeg", :class => "trip_image") %>
     </div>

     <!-- ユーザーネーム  -->
     <div class ="contain1">
      <div class="desc pull-left">
        <ul>
          <li>
           <div class="user">
            <%= image_tag("profile.JPG", :class => "planner_img") %>
          </div>
        </li>
        <li>
          <div class="user-name">
            <div> Maasa Yokota </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div><!-- plan閉じタグ -->


<!-- プラン -->
<div class="contain2">
 <h2>企画詳細</h2>
 <div class="plan-contents">
  <ul>
    <li>
      <h3>日程</h3>
    </li>
    <li>
      <div class="content1">
        <h3>3/10~3/20</h3>
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <h3>行き先</h3>
    </li>
    <li>
      <div class="content1">
        <h3>ボリビア</h3>
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <h3>やりたいこと</h3>
    </li>
    <li>
      <div class="content2">
        <h3>湖の上でジャンプ<br>マチュピチュにも行きたい</h3>
      </div>
    </li>
  </ul>
</div>
</div><!-- プラン閉じ -->
</div><!-- 左側閉じ -->

<div class="right-content">
  <!-- いいねぼたん -->
  <h2 class="description">あなたの申し込み状況</h2>
  <div class="states">
   <h3>申し込み済</h3>
   <a class="show-btn" href="#">いいね！<i class="fa fa-external-link" aria-hidden="true"></i></a>
 </div>

 <h2 class="description">コメントを記入</h2>
 <div class="comment">
   <h3>4月なら参加できるのですが、対応可能でしょうか？</h3>
   <a class="show-btn" href="#">投稿する<i class="fa fa-external-link" aria-hidden="true"></i></a>
 </div>
</div>

</div><!-- 右側閉じ -->
</div><!-- clearfix -->