
  <div class="header">
    <div class="container">
      <p>
       卒業旅行をもっと手軽に、<br>
       ストレスフリーに。
     </p>
     <h1>FRIENTRIP</h1>
     <a class="btn" href="#">詳細を見る<i class="fa fa-external-link" aria-hidden="true"></i></a>
     <%= image_tag("newtop.jpeg", :class => "top_image") %>
   </div>
 </div>


<section>
  <div class="features">
    <h2>FRIENTRIPの特徴</h2>
    <div class="container">
      <div class="content">
       <%= image_tag("newtop.jpeg", :class => "features_image") %>
       <div class="desc pull-right">
         <h3>友達の行きたい場所がすぐわかる</h3>
         <p>世界地図にカーソルを合わせると、友達の行きたい場所が赤く変わります</p>
       </div>
     </div>

     <div class="content">
       <%= image_tag("newtop.jpeg", :class => "features_image") %>
       <div class="desc pull-right">
         <h3>日程調整もラクラク</h3>
         <p>参加可能な期間はカレンダーでクリック。複数期間を選択可能。</p>
       </div>
     </div>

     <div class="content">
       <%= image_tag("newtop.jpeg", :class => "features_image") %>
       <div class="desc pull-right">
         <h3>あなただけのオリジナルの企画書を作ろう</h3>
         <p>グループチャットで旅行の話し合いをしたら、企画書にプランを反映させよう。</p>
       </div>
     </div>
   </div>
 </div>
</section>

<section>
  <div class="call-to-action">
    <h2>FRIENTRIPをはじめよう</h2>
    <div class="container">
      <a class="btn" href="#">Facebookを使って新規登録<i class="fa fa-external-link" aria-hidden="true"></i></a>
      <a class="btn" href="#">ログイン<i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
  </div>
</section>

